<h2><%= @book.title %></h2>

<div class="summary">
    <div class="highest-header">
      
    </div>
    <div class="average-header">

    </div>
    <div class="lowest-header">

    </div>
</div>

<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= "#{review.rating}: " %>
      <%= review.body %>
    </li>
  <% end %>
</ul>
